spring:
  application:
    name: haruUp

  profiles:
    active: ${APPS_ENV}  # dev = Swagger 활성화 | prod = Swagger 비활성화

  config:
    import: classpath:env.properties

  datasource:
    # PostgreSQL (Local Docker)
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

    # MySQL (External - uncomment to use)
    #driver-class-name: com.mysql.cj.jdbc.Driver
    #url: jdbc:mysql://${MY_SQL_END_POINT}:3306/${MY_SQL_DB_NAME}?serverTimezone=Asia/Seoul
    #username: ${MY_SQL_DB_USERNAME}
    #password: ${MY_SQL_DB_PASSWORD}

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect  # 또는 이 줄도 빼도 됨(드라이버로 자동 추론)
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        default_batch_fetch_size: 1000
        jdbc.time_zone: Asia/Seoul
        hbm2ddl.halt_on_error: false
    hibernate:
      ddl-auto: update   # 로컬/E2E: 첫 실행에 테이블 생성, 이후 스키마 유지
    open-in-view: false   # API 서버면 false 권장 (원하면 true 유지해도 됨)

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}


logging:
  level:
    p6spy: info

jwt:
  secret-key: ${JWT_SECRET_KEY}
  #expiration: ${JWT_EXPIRATION}
  issuer: ${JWT_ISSUER}
  access-token-validity-in-seconds: 86400 # 1 day
  refresh-token-validity-in-seconds: 604800 # 7 days


server:
  port: 8080


management:
  endpoints:
    web:
      base-path: /jikgong
      exposure:
        include: prometheus

